@font-face {
    font-family: 'minecraft';
    src: url('../assets/Minecraft.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #5a5a5a;
    font-family: 'VT323', monospace;
}

#floor {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px; /* Ajusta esta altura según sea necesario */
    background-image: url('../assets/suelo.jpg'); /* Ruta a la imagen de pasto */
    background-size: cover;
    z-index: 500; /* Debe estar debajo del personaje, pero encima del fondo */
}

.cosito{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.cosito img{
    transform: rotate(90deg);
    width: 400px;
}

#gameArea {
    position: relative;
    background-color: #D3ECAC;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 600px;
    height: 800px;
    max-height: 100vh;
    overflow: hidden;
}

@media (max-width: 767px) {
    #gameArea {
        width: 100%;
        height: 100vh;
    }
}

#character {
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 140px;
    height: 140px;
    background-image: url('../assets/dibu.png');
    background-size: cover;
    transform: translateX(-50%);
    transition: left 0.1s;
    z-index: 1000;
}

.food {
    position: absolute;
    width: 30px;
    height: 30px;
    background-size: cover;
}

.good1 {
    background-image: url('../assets/copaAmerica.webp');
    height: 50px;
}

.good2 {
    background-image: url('../assets/copaMundial.png');
    height: 50px;
    width: 50px;
}

.good3 {
    background-image: url('../assets/guante.webp');
    height: 50px;
    width: 50px;
}

.bad {
    background-image: url('../assets/francia.webp');
    height: 46px;
    width: 46px;
}

.bad2 {
    background-image: url('../assets/mbappe.png');
    height: 40px;
    width: 40px;
}

.gameOverContent {
    text-align: center;
}

.centeredGif {
    display: flex;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
}

#score, #highScore, #missedGood {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    color: #000000;
    z-index: 1000;

}

#highScore {
    top: 40px;
}

#missedGood {
    top: 70px;
}

#missedBad {
    position: absolute;
    top: 70px;
    left: 10px;
    font-size: 16px;
    color: #000000;
    z-index: 1000;
}


#gameOver {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffb703;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.gameOverContent p {
    font-size: 24px;
    font-weight: bold;
    color: red;
    margin: 0;
    margin-bottom: 20px;
}

#gameOver button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'VT323', monospace;
    background-color: transparent;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#gameOver button:hover {
    background-color: #795f44;
}

#backToMenuButton {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'VT323', monospace;
    background-color: transparent;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
}

#backToMenuButton:hover {
    background-color: #795f44;
}
button:hover {
    background-color: #795f44;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(251, 133, 0, 0.7);
}

#pauseButton {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 60px;
    height: 60px;
    background-color: #ffcc00;
    border: 2px solid #ffaa00;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1000;
    transition: background-color 0.3s, transform 0.3s;
}

#pauseButton i {
    font-size: 30px;
    color: #fff;
}

#pauseButton:hover {
    background-color: #ffaa00;
    transform: scale(1.1);
}

#pauseMenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    font-family: 'VT323', monospace;
    color: white;
    text-align: center;
}

.pauseMenuContent {
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    font-family: 'VT323', monospace;
}

.pauseMenuContent button {
    font-size: 24px;
    padding: 12px 24px;
    margin: 10px;
    background-color: #ffcc00;
    border: none;
    border-radius: 8px;
    font-family: 'VT323', monospace;
    color: #333;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}


.pauseMenuContent button:hover {
    font-family: 'VT323', monospace;
    background-color: #ffaa00;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}
