@font-face {
    font-family: 'minecraft';
    src: url('/assets/Minecraft.ttf') format('truetype');
}
/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #5a5a5a;
    font-family: minecraft;
}

.cosito{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.cosito img{
    transform: rotate(90deg);
    width: 400px;
}

#gameArea {
    position: relative;
    background-color: #D3ECAC;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 600px;
    height: 800px;
    max-height: 100vh;
}

@media (max-width: 767px) {
    #gameArea {
        width: 100%;
        height: 100vh;
    }
}

#character {
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 150px;
    height: 150px;
    background-image: url('../assets/dibu.webp'); /* Imagen del personaje */
    background-size: cover;
    transform: translateX(-50%);
    transition: left 0.1s;
    z-index: 1000;
}

.food {
    position: absolute;
    width: 30px;
    height: 30px;
    background-size: cover;
}

.good {
    background-image: url('../assets/copa.webp'); /* Imagen de buena comida */
    height: 50px;
}

.bad {
    background-image: url('../assets/obstacle.webp'); /* Imagen de mala comida */
}

#score, #highScore, #missedGood {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    color: #ffffff;
    z-index: 1000;

}

#highScore {
    top: 40px;
}

#missedGood {
    top: 70px;
}

#gameOver {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffb703;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 10; /* Para que esté encima de los cosos, y no se superponga */
}

.gameOverContent p {
    font-size: 24px;
    font-weight: bold;
    color: red;
    margin: 0;
    margin-bottom: 20px;
}

#gameOver button {
    padding: 10px 20px;
    font-size: 16px;
    font-family: minecraft;
    background-color: transparent;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#gameOver button:hover {
    background-color: #795f44;
}

#backToMenuButton {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: minecraft;
    background-color: transparent;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000; /* Asegura que el botón esté por encima de otros elementos */
}

#backToMenuButton:hover {
    background-color: #795f44;
}
button:hover {
    background-color: #795f44;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(251, 133, 0, 0.7); /* Añade un brillo suave al botón */
}