structure.json
tngo sueño

son las 3 d la mñn y finalmente pude instalar visual code en arch para empezar a trabajar en el proyecto
pero ya me estrese demasiado instalando el visual code, asi que no hare nada en este proyecto, gracias